RewriteEngine On    # Turn on the rewriting engine

RewriteRule ^api/data/([0-9a-zA-Z_-]*)$ api.php?data=$1 [NC,L]
RewriteRule ^api/chapter/([0-9a-zA-Z_-]*)$ api.php?chapter=$1 [NC,L]
RewriteRule ^api/oeuvre/([0-9a-zA-Z_-]*)$ api.php?oeuvre=$1 [NC,L]
RewriteRule ^api/dlsite/([0-9a-zA-Z_-]*)$ api.php?dlsite=$1 [NC,L]
RewriteRule ^api/port/([0-9a-zA-Z_-]*)$ api.php?port=$1 [NC,L]